version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo 

    steps:
      - checkout
      - run:
        name: install dependencies
        command: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
      
      - run:
        name: run tests
        command: |
          source .venv/bin/activate
          pytest -v --cov=Heap
